// Place all the styles related to the kittens controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//.kitten-div {
//	border: 1px solid gray;
//}

.kitten-thumbnail {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-color: red;
    background-position: left top;
}

.kitten-photo {
    background-color: #00ff00;
    
    max-width: 700px;
    background-size: cover;
}